@charset 'UTF-8';

.su-alert__body,
.component__centered,
.component__variant-info,
.centered {
  @include margin(0 auto null);
  max-width: 800px;
}

.component__centered {
  @include margin(1rem null null);
  position: relative;
  background: $su-color-white;
}

.component__resources {
  @include margin(1em null null);

  p {
    @include margin(null null 0.6rem);
    @include modular-typography(-1);
  }

  a {
    &:link,
    &:visited {
      color: #6FC3FF;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.component {
  .component__modifiers,
  .component__markup,
  .component__example {
    @include modular-spacing('margin', 5 null null);
  }

  .component__markup {
    pre {
      max-height: 400px;
      overflow: auto;
    }
  }

  .component__variant-info {
    p {
      @include margin(0);
    }
  };

  .component__modifiers {
    > .component__variant {
      @include modular-spacing('margin-top', 4);
    }

    > .component__centered {
      + .component__variant {
        @include margin(2em null null);
      }
    }
  }
}

.su-alert {
  h4 {
    @include margin(null null 0);
  }
}

button {
  i {
    font-size: 2.5rem;

    // FA is included as a vendor dependency but the class styles are not
    // included so we have to use the mixins and font declarations here.
    &::before {
      @include fa-icon;
      color: $su-color-black;
      font-family: 'Font Awesome 5 Brands';
      transition: color 0.25s ease-out;
    }
  }

  &.fullwidth-toggle {
    i {
      &::before {
        content: fa-content($fa-var-expand-alt);
      }
    }
  }
}

.fullwidth-view {
  #left-sidebar {
    display: none;
  }
  .su-alert__body,
  .component__centered,
  .component__variant-info,
  .centered {
    max-width: 100%;
  }

  > section > article > .component {
    @include padding(null 0);
  }
}