@charset 'UTF-8';

.su-alert__body,
.component__centered,
.component__variant-info,
.centered {
  @include margin(0 auto null);
  max-width: 800px;
}

.component__centered {
  @include margin(1rem null null);
  position: relative;
  background: $su-color-white;
}

.component__resources {
  @include margin(1em null null);

  p {
    @include margin(null null 0.6rem);
    @include modular-typography(-1);
  }

  a {
    &:link,
    &:visited {
      color: #6FC3FF;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.component {
  h2 {
    @include type-c;
  }

  .component__modifiers,
  .component__markup,
  .component__example {
    @include modular-spacing('margin', 5 null null);
  }

  .component__markup {
    pre {
      max-height: 400px;
      overflow: auto;
    }
  }

  .component__variant-info {
    p {
      @include margin(0);
    }
  };

  .component__modifiers {
    > .component__variant {
      @include modular-spacing('margin-top', 4);
    }

    > .component__centered {
      + .component__variant {
        @include margin(2em null null);
      }
    }
  }
}

.su-alert {
  h4 {
    @include margin(null null 0);
  }
}
