@charset 'UTF-8';

// Homepage

.section {
  &.fullwidth {
    > * {
      @include padding(null 2rem);
    }

    &.wide-content {
      > * {
        @include margin(null auto);
        max-width: 1200px;
      }
    }

    &.narrow-content {
      > * {
        @include margin(null auto);
        max-width: 900px;
      }
    }
  }

  .su-card {
    h2 {
      @include type-b;
    }

    p {
      @include modular-typography(1);

      & + .su-link--action {
        @include margin(40px null null);
      }
    }
  }
}

.section {
  &.inverse {
    color: $su-color-white;

    .su-link--action {
      color: #6FC3FF;

      &:hover,
      &:focus {
        color: $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }

      &::after {
        background-color: #6FC3FF;
      }
    }
  }

  &--welcome {
    @include linear-gradient(to right, $su-color-black, #620059);

    .su-intro-text {
      line-height: 1.3;
    }

    > * {
      &:last-child {
        @include margin(null null 0);
      }
    }
  }

  &--welcome,
  &--who {
    .su-button {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &--who,
  &--resources,
  &--components {
    p {
      @include modular-typography(1);
    }
  }

  &--start .su-card,
  &--components .su-card,
  &--resources,
  &--more-info {
    .su-link--action {
      display: block;
      font-size: 1.1em;
      width: fit-content;
    }
  }

  &--components {
    background-color: $su-color-white;
  }

  &--start {
    @include linear-gradient(to right, $su-color-black, #620059);
    @include padding(5rem null null);
    @include modular-spacing('padding', null null 8);
  }

  &--who {
    background-color: $su-color-cool-grey;
  }

  &--components {
    .su-card--horizontal {
      @include grid-media-only('sm') {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &--resources {
    background-color: $su-color-fog;

    > h2 {
      @include margin(null null 0);
    }

    > div {
      > section {
        @include modular-spacing(margin, 5 null null);
      }
    }

    img {
      height: 70px;
    }
  }

  &--more-info {
    background-color: #373637;

    > div {
      > section {
        @include modular-spacing(margin, 2 null null);
      }
    }

    h3 {
      @include type-d;
    }
  }
}
