@charset 'UTF-8';

// Copy the secondary styles.
.decanter-nav {
  @extend .su-secondary-nav;

  .su-secondary-nav__item--parent {
    > .su-secondary-nav__menu {
      display: none;
    }
  }

  .su-secondary-nav__item--expanded,
  .active-trail {
    > .su-secondary-nav__menu {
      display: flex;
    }
  }
}

#hamburger {
  color: $su-color-white;

  &[aria-expanded="false"] {
    &::after {
      background: url("/dist/assets/hamburger-white.svg") no-repeat 3px 0;
    }
  }

  @include grid-media-max('sm') {
    &[aria-expanded="false"] {
      + nav,
      + nav + a {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      &::after {
        background: url("/dist/assets/close-white.svg") 3px 0px / 16px 16px no-repeat;
      }
    }
  }

  @include grid-media-only('md') {
    display: none;
  }
}
