@charset 'UTF-8';

html {
  scroll-behavior: smooth;
}

body {
  @include font-smoothing;
}

.su-brand-bar {
  .su-brand-bar__container {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

main {
  display: flex;
  flex-direction: row;

  > aside,
  > section {
    min-width: 0; // fix overflow within
  }

  @include grid-media-max("sm") {
    flex-direction: column;

    > aside {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  // Main section
  > section {
    flex: 1 1 100%;

    > article {
      > header {
        background-color: #373637;

        &:empty {
          display: none;
        }

        > * {
          color: $su-color-white;
        }

        > h1 {
          @include margin(null null 0);
        }
      }

      > header,
      > div {
        > * {
          @include margin(null auto);
          max-width: 800px;
        }
      }

      > div {
        .fullwidth {
          width: 100%;
          max-width: 100%;
        }

        // Vertical rhythm for content

        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
          @include margin(null null 0.6em);
          clear: none;

          &:first-child {
            @include margin(0 null null);
          }
        }

        > h2,
        > h3 {
          @include margin(2em null null);
        }

        > h4 {
          @include margin(1.4em null null);
        }
        
        > h5,
        > h6 {
          @include margin(1em null null);
        }


        > h2 + h3,
        > h3 + h4 {
          @include margin(1em null null);
        }
      }

      > .content,
      > .component,
      > header {
        @include grid-media-only('xs') {
          @include padding(null map_get($su-screen-margins, xs));
        }

        @include grid-media-only('sm') {
          @include padding(null map_get($su-screen-margins, sm));
        }

        @include grid-media-only('md') {
          @include padding(null map_get($su-screen-margins, md));
        }

        @include grid-media('lg') {
          @include padding(null map_get($su-screen-margins, lg));
        }
      }

      > header {
        @include modular-spacing('padding', 3 null);
      }

      > .content,
      > .component {
        @include modular-spacing('padding', 4 null 8);
      }
    }
  }
}

// Left sidebar
#left-sidebar {
  display: grid;
  grid-template-areas: "logo" "sidebar-nav" "netlify";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  flex: 0 0 27rem;
  width: 27rem;
  background: color(bg, $su-nav-colors);

  @include grid-media-only("md") {
    flex: 0 0 24%;
    width: 24%;
  }

  .brand-logo {
    grid-area: logo;
  }

  nav {
    grid-area: sidebar-nav;

    > ul {
      @include padding(null null null 0);
      position: sticky;
      top: 0;
    }
  }

  > a {
    grid-area: netlify;
  }
}

.su-secondary-nav--buttons-dark {
  .su-secondary-nav__item--parent {
    > .su-secondary-nav__link {
      @include padding(null 2.4rem null null);
    }
  }
}

.padding-vertical-md {
  @include modular-spacing('padding', 5 null);
}

.padding-vertical-lg {
  @include modular-spacing('padding', 7 null);
}

.section {
  &.fullwidth {
    > * {
      @include padding(null 2rem);
    }

    &.wide-content {
      > * {
        @include margin(null auto);
        max-width: 1200px;
      }
    }

    &.narrow-content {
      > * {
        @include margin(null auto);
        max-width: 900px;
      }
    }
  }

  .su-card {
    h2 {
      @include type-b;
    }

    p {
      @include modular-typography(1);

      & + .su-link--action {
        @include margin(40px null null);
      }
    }
  }
}
