@charset 'UTF-8';
@import 'highlight.js/scss/androidstudio.scss';

body {
  @include font-smoothing;
}

.su-brand-bar {
  .su-brand-bar__container {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

main {
  display: flex;
  flex-direction: row;

  @include grid-media-max("sm") {
    flex-direction: column;

    > aside {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  @include grid-media-only("md") {
    > aside {
      flex: 0 0 24%;
      width: 24%;
    }
  }

  // Main section
  > section {
    flex: 1 1 100%;

    > article {
      > header {
        @include padding(5rem null);
        background-color: $su-color-cool-grey;

        &:empty {
          display: none;
        }

        > * {
          color: $su-color-white;
        }

        > h1 {
          @include margin(null null 0);
        }
      }

      > header,
      > div {
        > * {
          @include margin(null auto);
          max-width: 1000px;
        }
      }

      > div {
        .fullwidth {
          width: 100%;
          max-width: 100%;
        }

        // Vertical rhythm for content
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include margin(null null 0.6em);
          clear: none;

          &:not(:first-child) {
            @include margin(1em null null);
          }
        }
      }

      > header:not(:empty) + div {
        @include modular-spacing('padding', 3);
      }
    }
  }
}

// Left sidebar
#left-sidebar {
  display: grid;
  grid-template-areas: "logo" "sidebar-nav" "netlify";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  flex: 0 0 27rem;
  width: 27rem;
  background: color(bg, $su-nav-colors);

  .brand-logo {
    grid-area: logo;
  }

  nav {
    grid-area: sidebar-nav;

    > ul {
      @include padding(null null null 0);
    }
  }

  > a {
    grid-area: netlify;
  }
}

.su-secondary-nav--buttons-dark {
  .su-secondary-nav__item--parent {
    > .su-secondary-nav__link {
      @include padding(null 2.4rem null null);
    }
  }
}

.padding-vertical-md {
  @include modular-spacing('padding', 5 null);
}

.padding-vertical-lg {
  @include modular-spacing('padding', 7 null);
}

.section {
  &.fullwidth {
    > * {
      @include padding(null 2rem);
    }

    &.wide-content {
      > * {
        @include margin(null auto);
        max-width: 1200px;
      }
    }

    &.narrow-content {
      > * {
        @include margin(null auto);
        max-width: 900px;
      }
    }
  }

  .su-card {
    h2 {
      @include type-b;
    }

    p {
      @include modular-typography(1);

      & + .su-link--action {
        @include margin(40px null null);
      }
    }
  }
}

// Homepage

.section {
  &--welcome {
    @include linear-gradient(to right, shade($su-color-lagunita, 20%), shade($su-color-purple, 10%));

    .su-intro-text {
      line-height: 1.3;
    }

    > * {
      &:last-child {
        @include margin(null null 0);
      }
    }
  }

  &--welcome,
  &--who,
  &--resources {
    color: $su-color-white;
  }

  &--welcome,
  &--who {
    .su-button {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &--who,
  &--resources,
  &--components {
    p {
      @include modular-typography(1);
    }
  }

  &--start .su-card,
  &--components .su-card,
  &--resources,
  &--more-info {
    .su-link--action {
      display: block;
      font-size: 1.1em;
    }
  }

  &--start,
  &--components,
  &--more-info {
    background-color: $su-color-fog;
  }

  &--who {
    background-color: $su-color-cool-grey;
  }

  &--components {
    .su-card--horizontal {
      @include grid-media-only('sm') {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &--resources {
    background-color: $su-color-lagunita;

    .su-link--action {
      color: $su-color-white;
      width: fit-content;
    }
  }
}
