@charset 'UTF-8';

.typography {
  @include modular-spacing('padding', 0);
  @include margin(null null 3rem);
  @include box-shadow(paper, '1px solid #E3E3E3');

  > *:last-child {
    @include margin(null null 0);
  }
}

.italic {
  font-style: italic;
}

.font-light {
  font-weight: $su-font-light;
}

.font-semi-bold {
  font-weight: $su-font-semi-bold;
}

.font-bold {
  font-weight: $su-font-bold;
}

.font-black {
  font-weight: $su-font-black;
}

code, pre {
  font-family: 'Menlo', 'Consolas', 'Monaco', 'Andale Mono', monospace;
  font-size: 0.85em;
}

p,
li {
  code {
    @include padding(2px 4px);
    color: $su-color-bright-red;
    background-color: $su-color-fog;
    border-radius: $su-border-radius;
  }
}

pre {
  code {
    @include padding(0);
    background-color: transparent;
    font-size: 1em;
  }
}

pre .hljs,
pre.hljs {
  padding: 1.6em;
  overflow-x: auto;
}

.su-link--action {
  &::after {
    margin-right: 0.3em;
    margin-bottom: 0.06em;
    margin-left: 0.4em;
    height: 10px;
    width: 10px;
    display: inline-block;
    content: " ";
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjQxNTY2MSAwLjUxMTI4NUMxLjAwMDI0IC0wLjEzNjI1MiAxLjk4NDQ5IC0wLjE3Mzc0NyAyLjYxNDA0IDAuNDI3NTM3TDEzLjUwMjkgMTAuODI3NUMxMy44MTk5IDExLjEzMDMgMTQgMTEuNTU1MSAxNCAxMkMxNCAxMi40NDQ5IDEzLjgxOTkgMTIuODY5NyAxMy41MDI5IDEzLjE3MjVMMi42MTQwNCAyMy41NzI1QzEuOTg0NDkgMjQuMTczNyAxLjAwMDI0IDI0LjEzNjMgMC40MTU2NjEgMjMuNDg4N0MtMC4xNjg5MjEgMjIuODQxMiAtMC4xMzI0NjcgMjEuODI4OCAwLjQ5NzA4MyAyMS4yMjc1TDEwLjE1ODQgMTJMMC40OTcwODMgMi43NzI0N0MtMC4xMzI0NjcgMi4xNzExOSAtMC4xNjg5MjEgMS4xNTg4MiAwLjQxNTY2MSAwLjUxMTI4NVoiIGZpbGw9IiMyRTJEMjkiLz4KPC9zdmc+Cg==) no-repeat 0 0;
    mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjQxNTY2MSAwLjUxMTI4NUMxLjAwMDI0IC0wLjEzNjI1MiAxLjk4NDQ5IC0wLjE3Mzc0NyAyLjYxNDA0IDAuNDI3NTM3TDEzLjUwMjkgMTAuODI3NUMxMy44MTk5IDExLjEzMDMgMTQgMTEuNTU1MSAxNCAxMkMxNCAxMi40NDQ5IDEzLjgxOTkgMTIuODY5NyAxMy41MDI5IDEzLjE3MjVMMi42MTQwNCAyMy41NzI1QzEuOTg0NDkgMjQuMTczNyAxLjAwMDI0IDI0LjEzNjMgMC40MTU2NjEgMjMuNDg4N0MtMC4xNjg5MjEgMjIuODQxMiAtMC4xMzI0NjcgMjEuODI4OCAwLjQ5NzA4MyAyMS4yMjc1TDEwLjE1ODQgMTJMMC40OTcwODMgMi43NzI0N0MtMC4xMzI0NjcgMi4xNzExOSAtMC4xNjg5MjEgMS4xNTg4MiAwLjQxNTY2MSAwLjUxMTI4NVoiIGZpbGw9IiMyRTJEMjkiLz4KPC9zdmc+Cg==) no-repeat 0 0;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: #006cb8;
    transition: transform 0.2s ease-in-out, mask-image 0.2s ease-in-out;
  }
}

.su-link--action:hover::after, .su-link--action:focus::after {
  background-color: #2e2d29;
  transform: translateX(0.2em);
}

.su-link--action {
  text-decoration: none;
}

.su-intro-text {
  max-width: 80rem;

  .typography & {
    max-width: 80rem;
  }
}
